.wu-white.wu-chanceflurries { background: url(/static/icons/white/svg/chanceflurries.svg); }
.wu-white.wu-chancerain { background: url(/static/icons/white/svg/chancerain.svg); }
.wu-white.wu-chancesleet { background: url(/static/icons/white/svg/chancesleet.svg); }
.wu-white.wu-chancesnow { background: url(/static/icons/white/svg/chancesnow.svg); }
.wu-white.wu-chancetstorms { background: url(/static/icons/white/svg/chancetstorms.svg); }
.wu-white.wu-clear { background: url(/static/icons/white/svg/clear.svg); }
.wu-white.wu-cloudy { background: url(/static/icons/white/svg/cloudy.svg); }
.wu-white.wu-flurries { background: url(/static/icons/white/svg/flurries.svg); }
.wu-white.wu-fog { background: url(/static/icons/white/svg/fog.svg); }
.wu-white.wu-hazy { background: url(/static/icons/white/svg/hazy.svg); }
.wu-white.wu-mostlycloudy { background: url(/static/icons/white/svg/mostlycloudy.svg); }
.wu-white.wu-mostlysunny { background: url(/static/icons/white/svg/mostlysunny.svg); }
.wu-white.wu-partlycloudy { background: url(/static/icons/white/svg/partlycloudy.svg); }
.wu-white.wu-partlysunny { background: url(/static/icons/white/svg/partlysunny.svg); }
.wu-white.wu-rain { background: url(/static/icons/white/svg/rain.svg); }
.wu-white.wu-sleet { background: url(/static/icons/white/svg/sleet.svg); }
.wu-white.wu-snow { background: url(/static/icons/white/svg/snow.svg); }
.wu-white.wu-sunny { background: url(/static/icons/white/svg/sunny.svg); }
.wu-white.wu-tstorms { background: url(/static/icons/white/svg/tstorms.svg); }
.wu-white.wu-unknown { background: url(/static/icons/white/svg/unknown.svg); }
