<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportation Website</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
    <div>
        {% include 'header.html' %} <br>
    </div>
    <div class="card">
        <img src="photo\truck.jpg" alt="Profile Picture">
        <div class="details">
            <h2>John Doe</h2>
            <p>Email: john@example.com</p>
            <p>Phone: 123-456-7890</p>
            <p></p>
            <p></p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Transportation Company. All rights reserved.</p>
    </footer>
</body>
</html>
